<!DOCTYPE html>
<html ng-app="movieApp">

<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>

    <!-- custom script (angular app) -->
    <script type="text/javascript" src="app.js"></script>

</head>

<body ng-controller="MovieCtrl as movies">

    <div class="col-xs-8">
        <input class="form-control" type="search" id="search-input" ng-model="searchMovie" placeholder="search for a movie">
    </div>
    <form ng-submit="movies.addMovie()">
        <div class="form-group">
            <label for="movie-title">Movie Title</label>
            <input type="text" data-ng-model="movies.movie.title" class="form-control" placeholder="What do you want to watch?" autofocus>
        </div>
        <input type="submit" value="Add Movie" class="btn btn-default">
    </form>
    <h3> {{movies.moviesToWatch.length}}
      <ng-pluralize count="movieCount"
       when = "{'1': 'Movie', 'other': '{} Movies'}">
     </ng-pluralize> to Watch
   </h3>
    <div ng-repeat="movies in movies.moviesToWatch | orderBy:'title' | filter:searchMovie">
        <p>Title: {{movies.title}}</p>
        <p>Genre: {{movies.genre}}</p>
    </div>
</body>

</html>
